{% extends "base.html" %}

{% block title %}Incomes{% endblock %}

{% block body %}




	

	
	{% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
	
	
	
	
		<div class="login-box">
  <h2>Add income</h2>
  <form method="post" action="/incomes/create" id="formIncomes">
    <div class="user-box">
	  <input type="number" id="inputAmount" name="amount" required="" step="0.01" autocomplete="off"/>
    <label for="inputAmount">Amount</label>
    </div>
	<div class="user-box">
	  <input type="date" id="inputDate" name="date_of_income" required="" value="{{today}}" style="color-scheme: dark"/>
    <label for="inputDate">Date</label>
    </div>
    
	
	<div class="user-box">
	<label for="inputCategory"> Category: </label><br/><br/>
					<select name='income_category_assigned_to_user_id' id='inputCategory' class="form-control">
						<option  value='1' selected>Salary</option>
						<option value='2'  >Interest</option>
						<option value='3'  >Allegro</option>
						<option value='4'  >Another</option>
						
						
					</select>
	
			
   </div><br/>
	<div class="user-box">
	  <input type="text" id="inputAmount" name="income_comment" autocomplete="off"/>
    <label for="Comment">Comment</label>
    </div>
    <a href="">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      
	  <button>Add</button>
    </a>
	<a href="/">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      
	  Return to menu
    </a>
	
	
  </form>
</div>


	
		
	
	
	
{% endblock %}
